<ng-template [ngIf]="!done" [ngIfElse]="loading">
  <app-header text="Predikció"></app-header>
  <div class="main">
    <div style="text-align:center;" class="container">
      <p>Most pedig következhet a predikciós kérdés. Kérjük válaszolja meg az alábbi kérdést</p>
    
      <mat-divider></mat-divider>

      <ng-container *ngIf="this.type == 'bitcoin' ">
        <div class="question">
          <p>{{questions.q_pre1.question}}</p>
          <ol>
            <li *ngFor="let ans of questions.q_pre1.answers">{{ans}}</li>
          </ol>
          <mat-slider
                  class="example-margin"
                  [max]="5"
                  [min]="1"
                  [step]="1"
                  [thumbLabel]="true"
                  [(ngModel)]="value"
                  [vertical]="false">
          </mat-slider>
        </div>
      </ng-container>

      <ng-container *ngIf="this.type == 'forma1' ">
        <div class="question">
          <p>{{questions.q_pre1.question}}</p>
          
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Becslés</mat-label>
            <input matInput digitOnly type="number" placeholder="Ex. 123" (input)="value_forma1_1 = $event.target.value">
          </mat-form-field>
        
        </div>

        <div class="question">
          <p>{{questions.q_pre2.question}}</p>
          
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Becslés</mat-label>
            <input matInput digitOnly type="number" placeholder="Ex. 123" (input)="value_forma1_2 = $event.target.value">
          </mat-form-field>
        
        </div>
      </ng-container>
    
    </div>

    <button mat-raised-button (click)="onSubmit()">Tovább</button>
  </div>
</ng-template>
<ng-template #loading class="ringcontainer">
  <div class="lds-ring">
      <div></div><div></div><div></div><div></div>
  </div>
</ng-template>