.container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--ion-text-color);
}
.text {
    color: var(--ion-text-color);
    margin: 0 !important;
}